# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.WATPlanMobile.iml
# Datasource local storage ignored files
/../../../../../../../../:\_Studia\Projekty\RD\WATPlanMobile\.idea\.idea.WATPlanMobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
